! 
! URXVT specific stuff right here.
!
URxvt.transparent: true
URxvt.shading:20
! Included this so you know how to make your foreground not match the color of your background
URxvt.foreground: #eeeeee
URxvt*background:  Black
URxvt*scrollBar:  false
URxvt*scrollstyle:  plain
URxvt.internalBorder: 8 
! max: 65535
URxvt*saveLines:  65500
! starts as a login shell, prepending - to argv[0] of the shell. 
URxvt*loginShell:  false
! to be set in TERM env variable
!URxvt*termName:  screen-256color
!URxvt.font: xft:Fantasque Sans Mono:style=Regular:pixelsize=14, \
!	-*-unifont-*-*-*-*-*-*-*-*-*-*-*-*
URxvt.font: xft:FuraCode Nerd Font Mono:style=Retina:pixelsize=12, \
	-*-unifont-*-*-*-*-*-*-*-*-*-*-*-*

! Give us a nice cursor then
!Xcursor.theme: redglass
Xcursor.theme: Breeze
Xcursor.size: 16

! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
*backgroundhard: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*backgroundsoft: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
